<!DOCTYPE html>
<html>
<head>
    <title>Data Analysis and Prediction</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/analysis.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .analysis{
            color: limegreen;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <header>
        <section class="title">
            <h1>Visionary Data Analytics</h1>
            <p>Empowering your vision through advanced data analytics.</p>
            <p>Welcome to our data analysis and prediction platform!</p>
        </section>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" class="home">Home</a></li>
                <li><a href="{{ url_for('analysis') }}" class="analysis">Dataset Analysis</a></li>
                <li><a href="{{ url_for('preprocess') }}" class="preprocess">Data Preprocessing</a></li>
                <li><a href="{{ url_for('prediction') }}" class="prediction">Prediction</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <center><h2>Upload Your Dataset</h2></center>

        <section class="upload">
            <form action="" method="post" enctype="multipart/form-data" id="upload-form">
                <div class="upload-area">
                    <i class="fas fa-file-csv"></i>
                    <input type="file" class="file" name="file" required>
                    <br>
                    <br>
                    <center><input type="submit" class="submit-file" value="Analyze" id="analyze-btn"></center>
                </div>
            </form>
        </section>

        <!-- {% if result %}
            <center><h2>Analysis Result</h2></center>

            <section class="result">
                <center><div class="result-area">
                    <h2>Processed Data</h2>
                    <a href="{{ url_for('static', filename='uploads/output.html') }}">Open Analysis Data</a>
                </div></center>
            </section>
        {% endif %} -->

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</body>
</html>

        